@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* a {
  text-decoration: none;
  color: #414141;
  font-weight: bold;
} */

.navbar {
  background-color: #f3f3f3;
  height: 60px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin: 0px 15px;
  width: 100%;
}

.navLogo {
  font-family: Poppins;
  display: flex;
  justify-content: left;
  width: 100%;

  color: #5e5e5e;
  font-weight: bold;
}

.navLogoLink {
  text-decoration: none;
}

.navbarDesktop {
  display: flex;
  list-style: none;
  margin: 0px 15px;

  padding: 0px;
}

.navHamburger {
  visibility: hidden;
}

.navRight {
  position: absolute;
  right: 15px;
  width: px;
}
.navbarDesktop li {
  margin-right: 15px;
  font-size: 0.9rem;
}

.navbarDesktop a {
  text-decoration: none;
  color: #5e5e5e;
  font-weight: bold;
}

.list a:hover {
  color: #0d0c21;
}

.list .active {
  color: #171717;
  font-weight: 700;
}

.signIn {
  text-decoration: none;
  color: #5e5e5e;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .navHamburger {
    visibility: visible;
  }

  .navbarDesktop {
    visibility: hidden;
    width: 0%;
  }

  .navbar {
    display: flex;

    justify-content: space-between;
  }

  .navLogo {
    justify-content: center;
    width: 100%;
  }
}
